__pycache__/
*.py[cod]
.venv/
venv/
env/

.vscode/

.env

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/

.DS_Store


uploads/documents/*
uploads/vectors/*
!uploads/documents/.gitkeep
!uploads/vectors/.gitkeep